name: Local CI/CD for Kubernetes (Self-Hosted)

on:
  workflow_dispatch:

env:
  IMAGE_NAME: api-orchestrator
  SERVICE_NAME: api-orchestrator
  DEPLOYMENT_NAME: api-orchestrator-deployment
  CONTAINER_NAME: api-orchestrator-container
  KUBE_PORT: 3013
  APP_PORT: 4013
  NAMESPACE: api-orchestrator

jobs:
  build-and-deploy-local:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Apply K8s Manifests
        run: kubectl apply -f deployment/
 
      - name: Build local Docker image
        run: |
          IMAGE_TAG="${{ env.IMAGE_NAME }}:${{ github.sha }}"
          docker build -t $IMAGE_TAG .
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Load image into KIND cluster
        run: kind load docker-image ${{ env.IMAGE_TAG }} --name unraid-ubuntu-prod

      - name: Create/Update K8s Secrets and ConfigMaps
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ vars.DB_PORT }}
        run: |
          kubectl create secret generic api-orchestrator-secrets \
            --from-literal=DB_HOST="${{ env.DB_HOST }}" \
            --from-literal=DB_USER="${{ env.DB_USER }}" \
            --from-literal=DB_PASSWORD="${{ env.DB_PASSWORD }}" \
            --dry-run=client -o yaml \
          | kubectl apply -n "${{ env.NAMESPACE }}" -f -

          kubectl create configmap api-orchestrator-config \
            --from-literal=DB_PORT="${{ env.DB_PORT }}" \
            --dry-run=client -o yaml | kubectl apply -n "${{ env.NAMESPACE }}" -f -

      - name: Deploy to Kubernetes
        run: |
          echo "Updating deployment with image: ${{ env.IMAGE_TAG }}"
          kubectl set image deployment/${{ env.DEPLOYMENT_NAME }} -n ${{ env.NAMESPACE }} ${{ env.CONTAINER_NAME }}=${{ env.IMAGE_TAG }}
          
          kubectl rollout restart deployment/${{ env.DEPLOYMENT_NAME }} -n ${{ env.NAMESPACE }}
          kubectl rollout status deployment/${{ env.DEPLOYMENT_NAME }} -n ${{ env.NAMESPACE }}

      - name: Restart Port-Forward Service
        run: |
          sudo systemctl restart api-orchestrator-port-forward.service
          
          echo "Port-forward service has been signaled to restart."

      - name: Clean Up Unused Docker Images
        if: always()
        run: |
          echo "--- Cleaning up dangling Docker images ---"
          docker image prune -a --filter "until=24h" -f